/* PC  */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
    .toggle-menu {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    /* HEADER  */
    .navbar ul {
        display: none;
    }
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        top: 70%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .toggle-menu svg {
        width: 24px;
        color: #666;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        padding: 60px;
        transition: 0.5s ease;
    }
    .menu-drawer ul a {
        display: block;
        padding: 14px 0 ;
        color: #333;
        font-weight: 500;
    }
    .menu-drawer img {
        margin-bottom: 20px;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    /* HERO  */
    .hero-img {
        display: none;
    }
    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .clients .images img {
        width: 100px;
    }
    .guide-item {
        margin: 0;
    }
    .list-guide {
        justify-content: space-around;
    }
    .featured .list {
        grid-template-columns: 1fr 1fr;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }
    .header .actions {
        display: none;
    }
    li.show-on-mobile a {
        font-weight: 700;
    }
}